services:
  - type: web
    name: sustainablechains
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: PORT
        value: 3000
      - key: SESSION_SECRET
        sync: false
